<% layout("layouts/boilerplate.ejs") %>

 <ul>
    <li><%= allContent.heading%></li>
    <li><img src="<%= allContent.img %>" alt=""></li>
    <li><b>Brand:</b><%= allContent.brand %></li>
    <li><b>About:</b><%= allContent.description %></li>
    <li><b>Shade:</b><%= allContent.shade %></li>
    <li><b>Skin-type:</b><%= allContent.skin_type %></li>
    <li><b>Price:</b> <%= allContent.price%>&nbsp;&#8360;</li>
    <li><b>Size:</b><%= allContent.size %></li>
 </ul>
 <a href="/home">Back</a>