
<% layout("layouts/boilerplate.ejs") %>
    
<ul>
    <li> <img src="<%= listing.image %>" alt=""></li>
    <li><%= listing.brand %></li>
    <li><%= listing.shade %></li>
    <li><%= listing.type %></li>
    <li><%= listing.about_product %></li>
 

</ul>
  <a href="/home/lipsticks">Back</a>
    
       
